body {
    display: grid;
    place-items: center;
    margin: 20px;
    background: rgb(182, 191, 231);
}

.chunks-with-photos {
    border-color: rgb(29, 196, 202);
    border-style: solid;
    border-width: 8px;
    border-radius: 7px;
    margin: 10px;
}

.individual-chunk-with-photo {
    margin: 0px;
}

.individual-chunk-with-photo:hover {
    border-color: darkturquoise;
    border-style: dotted;
    border-width: 1px;
    border-radius: 2px;
}

.popup {
    max-width: 100%;
    max-height: 100%;
    z-index: 3;
}

.searched-snippets {
    margin-top: 50px;
    border-style: solid;
    border-radius: 10px;
    border-width: 5px;
    border-color: cornflowerblue;
    padding: 20px;
    background-color: rgb(192, 209, 240);
    padding-left: 30px;
}

.searched-snippets-header {
    padding-top: 25px;
    background-color: rgb(192, 209, 240);
}