body {
    display: grid;
    place-items: center;
    margin: 20px;
    background: rgb(182, 191, 231);
}

.chunks-with-photos {
    border-color: rgb(91, 89, 199);
    border-style: solid;
    border-width: 8px;
    border-radius: 7px;
    margin: 10px;
}

.chunk-selection-snippets {
    color: red;
}

.individual-chunk-with-photo {
    margin: 0px;
}

.individual-chunk-with-photo:hover {
    border-color: darkturquoise;
    border-style: dotted;
    border-width: 1px;
    border-radius: 2px;
}

.popup {
    max-width: 100%;
    max-height: 100%;
    z-index: 3;
}

.searched-snippets {
    margin-top: 20px;
    border-style: solid;
    border-radius: 10px;
    border-width: 5px;
    border-color: cornflowerblue;
    padding: 20px;
    background-color: rgb(192, 209, 240);
    padding-left: 30px;
}

.searched-snippets-header {
    justify-content: center;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 30px;
    margin-bottom: 20px;
    background-color: rgb(192, 209, 240);
    border: 5px solid;
}